body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}


.main_authorization, .main_registration{
  margin: 40% 20%;
}
.title{
  font-size: x-large;
  margin-bottom: 40px;
}
.input, .btn{
  margin-top: 20px;
}

.text{
  margin-top: 50px;
}
.error_input{
  font-size: small;
  color: #7d0404;
}
